.myLoader{
  padding: 10px;
  padding-left: 50%;
  padding-right: 45%;
}
.row{
  text-align: center;
}
.comment-box {
    display: none;
}
.search-container{
    margin-top: 10em;
    background-color: #f0f0f0;
    text-align: center;
}
.search-container button:hover {
    background: #f0f0f0;
}
main {
    display: table;
    width: 100%;
    min-height: 1000px;
}
.container {
  display: table-row; 
}
.sidebar-left {
  height: 300px;
  width: 20%;
  background:#f0f0f0;
} 
.center-col {
  width: 60%;
  background:#f0f0f0;
  margin: auto;
}
.sidebar-right {
  width: 20%;
  background:#f0f0f0;
}
.sidebar-left,
.center-col,
.sidebar-right {
  display: table-cell;
} 
@media (max-width: 900px) {
  main {
    display: block;
  }
  .container,
  .sidebar-left,
  .center-col,
  .sidebar-right {
    display: block;
    width: 100%;
    min-height: 100%;
  }
}